{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "broswers": ["> 1%", "last 2 versions"]
        }
      }
    ]
  ]
}